body{
    background-size: 75%;
    font-size: 200%;
}
a{
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
  }
img{
    padding: 10px; margin: 10px; border: 2px solid rgb(255, 255, 255); float: right; width: 300px;
}

#red {
    width: 460px;
    margin: 200px auto;
    background: red;
    position: relative;
    right: 50px;
    background-image: url(img/divfondo2.png)  ;
    

}
#blue {
    width: 460px;
    background-image: url(img/divfondo.png)  ;
    
}